

// colors
$black: #333;
$color-whatever: #CCFFCC;

// sizes
$base-grid-size: 16px;

// typography
$text-font-family: Arial, sans-serif;
$text-title-font-family: Georgia, Helvetica, serif;

$text-size-xs: 0.85rem;
$text-size-sm: 0.02rem;
$text-size-md: 1rem;
$text-size-lg: 1.2rem;
$text-lineheight-multiplier: 1.5;

$text-size-h1: 3rem;
$text-size-h2: 2.25rem;
$text-size-h3: 1.5rem;
$text-size-h4: 1.313rem;
$text-size-h5: 1.2rem;
$text-size-h6: 1rem;

// spacing
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 4rem;

// widths
$width-desktop: 1000px;
