<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultipleEntryPoint.API</title>
    <environment include="Development">
        <script src="~/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="screen">
        <header>
            <div class="header-content">
                <div class="header-logo"></div>
                <div class="header-links">
                  <a href="#">Help</a>
                </div>
            </div>
        </header>
        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer>
            <div class="footer-content">
                Awesome Footer
            </div>
        </footer>
    </div>
</body>
</html>